<footer class="footer">
    
  <a class="appWhatsapp" target="_blanck"
  href="https://api.whatsapp.com/send?phone=524181307868&text=Hola!&nbsp;me&nbsp;pueden&nbsp;apoyar?">
<img src="/images/icon-whatsapp.png" title="Enviar mensaje por Whatsapp" alt="Whatsapp">
  </a>

  <a class="appMessenger" target="_blanck"
  href="http://m.me/lendyjoanna.rodriguez">
      <img src="/images/icon-messenger.png" title="Enviar mensaje por Messenger" alt="Messenger">
  </a>

  <a class="twitter-follow-button" target="_blanck"
href="https://twitter.com/@alien_EspacialL">
<img src="/images/icon-twitter.png" title="Sígueme por Twitter" alt="Twitter">
</a>
  <div id="derec"><br><br><br><p>Proyecto propiedad de Lendy ©2020 </p></div>
  
  <div id="izq">
  <p>Número de contacto: 418 1020 269</p>
  <a class="nav-link" href="/ubicacion">Ciudad de Dolores Hidalgo C.I.N., Gto., México</a>
  </div>

  
 </footer>